{{#if shouldShow}}
  <div class="custom-gated-topic-container">
    <div class="custom-gated-topic-content">
      <div class="custom-gated-topic-content--header">
        {{theme-i18n "heading_text_user"}}
      </div>

      <p class="custom-gated-topic-content--text">
        {{theme-i18n "subheading_text_user"}}
      </p>

      <div class="custom-gated-topic-content--cta">
        <a
          href="{{theme-setting 'custom_button_link'}}"
          class="btn-primary btn-large"
        >
          {{theme-i18n "signup_cta_label_user"}}
        </a>
      </div>
    </div>
  </div>
{{/if}}